<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="include::include"></div>
	<script src="./static/js/common/component-pager.js"></script>
	<script src="./static/js/common/component-table.js"></script>
	<link href="./static/css/permission/permission.css" rel="stylesheet" />
	<script src="./static/js/permission/permission.js"></script>
</head>
<body>
	<div id="app">
		<div class="col-md-2 content">
			<!-- parent permission start -->
			<div class="panel">
				<div class="panel-heading" style="text-align:left;">
					<i class="icon icon-plus" @click="addEditParent" data-toggle="tooltip" data-placement="bottom" title="新增父菜单" :class="{'m-hide':btnPermissions.indexOf('addList') == -1}"></i>
					<i class="icon icon-edit" @click="updateEditParent" data-toggle="tooltip" data-placement="bottom" title="修改父菜单" :class="{'m-hide':btnPermissions.indexOf('updateList') == -1}"></i>
					<i class="icon icon-trash" @click="deletePermissionParent" data-toggle="tooltip" data-placement="bottom" title="删除父菜单" :class="{'m-hide':btnPermissions.indexOf('deleteList') == -1}"></i>
				</div>
				<div class="panel-body">
					<div class="list-group">
						<template v-for="(p, $index) in parentPermissions">
							<a href="javascript:void(0)" class="list-group-item" @click="parentClick(p,$index)" :class="{active:p==active}">{{p.name}}</a>
						</template>
					</div>
				</div>
			</div>
			<!-- parent permission end -->
		</div>
		<div class="col-md-5 content table-content load-indicator" :class="isLoading?'loading':''" data-loading="正在加载">
			<div class="panel">
				<div class="panel-heading">
					<!-- top start -->
					<div id="top-div">
						<!-- search start -->
						<div class="input-group search-div">
							<!-- <input type="text" class="form-control" id="keyword" placeholder="请输入关键词"> -->
							<span class="input-group-btn" style="text-align:left;">
								<button class="btn btn-success" @click="addEdit" :class="{'m-hide':btnPermissions.indexOf('addMenu') == -1}">新增</button>
							</span>
						</div>
						<!-- search end -->
					</div>
					<!-- top end -->
				</div>
				<div class="panel-body">
					<!-- table start -->
					<div style="height:38px;">
						<table class="table table-hover " style="margin:0px;">
							<thead>
								<th><div @click="checkboxAll" class="checkbox-primary checkbox-parent" style="width:16px;"><label></label></div></th>
								<th width="94">编号</th>
								<th width="310">名称</th>
								<th width="311">描述</th>
								<th width="382">url</th>
								<th width="284">操作</th>
							</thead>
						</table>
					</div>
					<div style="height:calc(100% - 38px);overflow:auto;">
						<table class="table table-hover ">
							<tbody>
								<tr v-for="(item,$index) in itemList" @click="childClick(item,$index)" :class="{active:item==childActive}">
									<td><div @click="checkbox" class="checkbox-primary checkbox-children" style="width:16px;"><label></label></div></td>
									<td width="94">{{item.id}}</td>
									<td width="310">{{item.name}}</td>
									<td width="311">{{item.desc}}</td>
									<td width="382">{{item.url}}</td>
									<td width="284">
										<button class="btn btn-xs btn-primary" @click="updateEdit(item)" :class="{'m-hide':btnPermissions.indexOf('updateMenu') == -1}"><i class="icon icon-pencil"></i></button>
										<button class="btn btn-xs btn-danger" @click="deleteItem(item.id)" :class="{'m-hide':btnPermissions.indexOf('deleteMenu') == -1}"><i class="icon icon-trash"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- <component-table v-bind:ths.sync="listThs" v-bind:list.sync="itemList" v-on:update-item="updateEdit" v-on:delete-item="deleteItem"></component-table> -->
					<!-- table end -->
				</div>
				<div class="panel-footer">
					<!-- page start -->
					<component-pager v-bind.sync="pagination" v-on:list="list"></component-pager>
					<!-- page end -->
				</div>
			</div>
		</div>
		
		<div class="col-md-5 content table-content load-indicator" :class="isBtnLoading?'loading':''" data-loading="正在加载">
			<div class="panel">
				<div class="panel-heading">
					<!-- top start -->
					<div id="top-div">
						<!-- search start -->
						<div class="input-group search-div">
							<!-- <input type="text" class="form-control" id="keyword" placeholder="请输入关键词"> -->
							<span class="input-group-btn" style="text-align:left;">
								<!-- <button class="btn btn-primary" @click="search">搜索</button>
								<button class="btn btn-default" @click="reset">重置</button> -->
								<button class="btn btn-success" @click="addEditBtn" :class="{'m-hide':btnPermissions.indexOf('addBtn') == -1}">新增</button>
							</span>
						</div>
						<!-- search end -->
					</div>
					<!-- top end -->
				</div>
				<div class="panel-body">
					<!-- table start -->
					<div style="height:38px;">
						<table class="table table-hover " style="margin:0px;">
							<thead>
								<th><div @click="checkboxAll" class="checkbox-primary checkbox-parent" style="width:16px;"><label></label></div></th>
								<th width="94">编号</th>
								<th width="310">名称</th>
								<th width="311">描述</th>
								<th width="382">url</th>
								<th width="284">操作</th>
							</thead>
						</table>
					</div>
					<div style="height:calc(100% - 38px);overflow:auto;">
						<table class="table table-hover ">
							<tbody>
								<tr v-for="item in btnList">
									<td><div @click="checkbox" class="checkbox-primary checkbox-children" style="width:16px;"><label></label></div></td>
									<td width="94">{{item.id}}</td>
									<td width="310">{{item.name}}</td>
									<td width="311">{{item.desc}}</td>
									<td width="382">{{item.url}}</td>
									<td width="284">
										<button class="btn btn-xs btn-primary" @click="updateEditBtn(item)" :class="{'m-hide':btnPermissions.indexOf('updateBtn') == -1}"><i class="icon icon-pencil"></i></button>
										<button class="btn btn-xs btn-danger" @click="deleteItem(item.id)" :class="{'m-hide':btnPermissions.indexOf('deleteBtn') == -1}"><i class="icon icon-trash"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- <component-table v-bind:ths.sync="listThs" v-bind:list.sync="itemList" v-on:update-item="updateEdit" v-on:delete-item="deleteItem"></component-table> -->
					<!-- table end -->
				</div>
				<div class="panel-footer">
					<!-- page start -->
					<component-pager v-bind.sync="paginationBtn" v-on:list="listBtn"></component-pager>
					<!-- page end -->
				</div>
			</div>
		</div>
		
		<!-- parent edit start -->
		<div class="modal fade" id="parentEditModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
						<h4 class="modal-title">{{parentEditTitle}}</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label for="parentName" class="col-sm-2 required">名称</label>
								<div class="col-sm-9">
									<input class="form-control" v-model="permissionParent4Add.name" id="parentName" placeholder="名称" />
								</div>
							</div>
							<div class="form-group">
								<label for="parentDesc" class="col-sm-2 required">描述</label>
								<div class="col-sm-9">
									<input class="form-control" v-model="permissionParent4Add.desc" id="parentDesc" placeholder="描述" />
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal">关闭</button>
						<button class="btn btn-primary" @click="saveParent">保存</button>
					</div>
				</div>
			</div>
		</div>
		<!-- parent edit end -->
		
		<!-- children edit start -->
		<div class="edit-panel-div" :class="isEditShow?'active':''">
			<div class="edit-panel-div-title">
				{{editTitle}}
				<i class="icon icon-times" @click="cancel"></i>
			</div>
			<div class="edit-panel-div-content form-horizontal">
				<div class="form-group">
					<label for="name" class="col-sm-3">名称</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="permission4Add.name" id="name" placeholder="名称" />
					</div>
				</div>
				<div class="form-group">
					<label for="desc" class="col-sm-3">描述</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="permission4Add.desc" id="desc" placeholder="描述" />
					</div>
				</div>
				<div class="form-group">
					<label for="url" class="col-sm-3">url</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="permission4Add.url" id="url" placeholder="url" />
					</div>
				</div>
			</div>
			<div class="edit-panel-div-footer">
				<button class="btn btn-success" @click="save">保存</button>
				<button class="btn btn-default" @click="cancel">取消</button>
			</div>
		</div>
		<div class="edit-panel-div-shim" @click="cancel" :class="isEditShow?'active':''"></div>
		<!-- children edit end -->
	</div>
</body>
</html>