<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="include::include"></div>
	<script src="./static/js/common/component-pager.js"></script>
	<link href="./static/css/bootstrapStyle/bootstrapStyle.css" rel="stylesheet" />
	<script src="./static/js/common/jquery.ztree.all.js"></script>
	<link href="./static/css/user/user.css" rel="stylesheet" />
	<script src="./static/js/user/user.js"></script>
</head>
<body>
	<div id="app">
		<div class="col-md-10 content table-content load-indicator" :class="isLoading?'loading':''" data-loading="正在加载">
			<div class="panel">
				<div class="panel-heading">
					<!-- top start -->
					<div id="top-div">
						<!-- search start -->
						<div class="input-group search-div">
							<input type="text" class="form-control" id="keyword" placeholder="请输入关键词">
							<span class="input-group-btn">
								<button class="btn btn-primary" @click="search">搜索</button>
								<button class="btn btn-default" @click="reset">重置</button>
								<button class="btn btn-success" @click="addEdit">新增</button>
								<button class="btn btn-danger" @click="getCheck">获取选中行</button>
							</span>
						</div>
						<!-- search end -->
					</div>
					<!-- top end -->
				</div>
				<div class="panel-body">
					<!-- table start -->
					<div style="height:38px;">
						 <table class="table table-hover table-striped" style="margin:0px;">
						 	<thead>
						 		<th><div @click="checkboxAll" class="checkbox-primary checkbox-parent" style="width:16px;"><label></label></div></th>
						 		<th width="76">编号</th>
								<th width="190">用户名</th>
								<th width="282">姓名</th>
								<th width="305">电话</th>
								<th width="178">性别</th>
								<th width="407">关联角色</th>
								<th width="230">操作</th>
						 	</thead>
						 </table>
					</div>
					<div style="height:calc(100% - 38px);overflow:auto;">
						<table class="table table-hover table-striped">
							<tbody>
								<tr v-for="user in users">
									<td><div @click="checkbox" class="checkbox-primary checkbox-children" style="width:16px;" :data-id="user.id"><label></label></div></td>
									<td width="76">{{user.id}}</td>
									<td width="190">{{user.name}}</td>
									<td width="282">{{user.realname}}</td>
									<td width="305">{{user.phone}}</td>
									<td width="178">{{user.sex}}</td>
									<td width="407"><template v-for="role in user.roles">{{role.name}}</template></td>
									<td width="230">
										<button class="btn btn-xs btn-primary" @click="updateEdit(user)"><i class="icon icon-pencil"></i></button>
										<button class="btn btn-xs btn-danger" @click="deleteUser(user.id)"><i class="icon icon-trash"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- table end -->
				</div>
				<div class="panel-footer">
					<!-- page start -->
					<component-pager v-bind.sync="pagination" v-on:list="list"></component-pager>
					<!-- page end -->
				</div>
			</div>
		</div>
		
		<div class="col-md-2 content">
			<div class="panel">
				<div class="panel-heading" style="text-align:left;">
					<button class="btn btn-success" @click="saveBatch">批量分配角色</button>
				</div>
				<div class="panel-body">
					<span>关联角色</span>
					<!-- ztree batch start -->
					<ul id="treeBatch" class="ztree"></ul>
					<!-- ztree batch end -->
				</div>
			</div>
		</div>
		
		<!-- edit start -->
		<div class="edit-panel-div" :class="isEditShow?'active':''">
			<div class="edit-panel-div-title">
				{{editTitle}}
				<i class="icon icon-times" @click="cancel"></i>
			</div>
			<div class="edit-panel-div-content form-horizontal">
				<div class="form-group">
					<label for="name" class="col-sm-3 required">名称</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="user4Add.name" id="name" placeholder="名称" />
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-sm-3 required">密码</label>
					<div class="col-sm-9">
						<input type="password" class="form-control" v-model="user4Add.password" id="password" placeholder="密码" />
					</div>
				</div>
				<div class="form-group">
					<label for="realname" class="col-sm-3 required">实名</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="user4Add.realname" id="realname" placeholder="实名" />
					</div>
				</div>
				<div class="form-group">
					<label for="phone" class="col-sm-3 required">电话</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="user4Add.phone" id="phone" placeholder="电话" />
					</div>
				</div>
				<div class="form-group">
					<label for="sex" class="col-sm-3 required">性别</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="user4Add.sex" id="sex" placeholder="性别" />
					</div>
				</div>
				<span>关联角色</span>
				<!-- ztree start -->
				<ul id="tree" class="ztree"></ul>
				<!-- ztree end -->
			</div>
			<div class="edit-panel-div-footer">
				<button class="btn btn-success" @click="save">保存</button>
				<button class="btn btn-default" @click="cancel">取消</button>
			</div>
		</div>
		<div class="edit-panel-div-shim" @click="cancel" :class="isEditShow?'active':''"></div>
		<!-- edit end -->
	</div>
</body>
</html>