<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>che2</title>
    <script>
        function tipUsername(){
			document.getElementById("span_username").innerHTML =
			"<font style='font-size: 15px; color: darkgrey; '>*请输入用户名</font>"
		}
        function checkUsername(){
            var username=document.getElementById("username").value;
            if(username.length < 4){
               document.getElementById("span_username").innerHTML=
               "用户名长度大于4!"
            }else{
               document.getElementById("span_username").innerHTML=
               ""
            }
         }
        function tipPassword() {
        	document.getElementById("span_password").innerHTML = "<font style='font-size:15px;color:darkgrey;'>*请输入密码</font>";
        }
        function checkPassword() {
        	var password = document.getElementById("password").value;
        	if (password.length < 6) {
        		document.getElementById("span_password").innerHTML = "密码长度大于6!";
        	} else {
        		document.getElementById("span_password").innerHTMl = "";
        	}
        }
        function tipRePassword() {
        	document.getElementById("span_repassword").innerHTMl = "<font style='font-size:15px;color:darkgrey;'>*请确认重复密码</font>";
        }
  		function checkRePassword(){
             var password=document.getElementById("password").value;
             var repassword=document.getElementById("repassword").value;
             if(password==repassword){
              document.getElementById("span_password").innerHTML=
               "正确"
            }else{
               document.getElementById("span_password").innerHTML=
               "错误"
            }
         }
     </script>

</head>
<body>
账号：<input type="text"  id="username" onfocus="tipUsername()" onblur="checkUsername()"/>
<span id="span_username"></span>
<br />
密码：<input type="text"  id="password" onfocus="tipPassword()" onblur="checkPassword()"/>
<span id="span_password"></span>
<br />
确认密码：<input type="text"  id="repassword" onfocus="tipRePassword()" onblur="checkRePassword()"/>
<span id="span_repassword"></span>
<br />
</boby>
</html>