<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div th:fragment="include">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>admin system</title>
	    <script src="./static/js/common/jquery.min.js"></script>
	    <script src="./static/js/common/zui.js"></script>
	    <script src="./static/js/common/vue.min.js"></script>
		<script src="./static/js/common/axios.min.js"></script>
		<script src="./static/js/common/myzui.js"></script>
		<link href="./static/css/zui.css" rel="stylesheet" />
	</div>
</body>
</html>