@import "../common/common.css";

#lightboxModal {
	z-index: 19999999;
}

.card {
	position:relative;
}

.card img{
	cursor:pointer;
}

.card .icon-times{
	position:absolute;
	top:0px;
	right:0px;
	z-index:2;
	background:white;
	cursor:pointer;
}
.card .icon-times:hover{
	color:red;
}