<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="include::include"></div>
	<script src="./static/js/common/myUpload.js"></script>
	<script src="./static/js/common/component-pager.js"></script>
	<link href="./static/css/common/common.css" rel="stylesheet" />
	<script>
	$(function() {
		var data4Vue = {
				items: [],
				item4Add: {id: 0, name: "", hp: 0},
				pagination: {},
				btnPermissions: [],
				keyword: "",
				isEditShow: false,
				isLoading: false,
				editTitle: "",
				size: 15,
				checkboxAllFlag: false
			};
			
			var vue = new Vue({
				el: "#app",
				data: data4Vue,
				mounted: function() {
					this.list(1);
					this.initNav();
				},
				methods: {
					initNav: function() {
						var _this = this;
						var url ="permissionsByUser";
						axios.get(url).then(function(res) {
							var data = res.data;
							if (data.pers == null && data.btns == null) {
								return;
							}
							_this.btnPermissions = data.btns;
						});
					},
					//表格前面的全选框
	                checkboxAll() {
	                    if (!this.checkboxAllFlag) {
	                        $(".checkbox-parent").addClass("checked");
	                        $(".checkbox-children").addClass("checked");
	                        this.checkboxAllFlag = true;
	                    } else {
	                        $(".checkbox-parent").removeClass("checked");
	                        $(".checkbox-children").removeClass("checked");
	                        this.checkboxAllFlag = false;
	                    }
	                },
	                //单行前面的单选框
	                checkbox(e) {
	                    var el = e.target;
	                    $(el).parent(".checkbox-primary").toggleClass("checked");
	                    var allFlag = true;
	                    $(".checkbox-children").map(function(item, ele) {
	                        if (!$(ele).hasClass("checked")) {
	                            allFlag = false;
	                        }
	                    });
	                    if (allFlag) {
	                        $(".checkbox-parent").addClass("checked");
	                    } else {
	                        $(".checkbox-parent").removeClass("checked");
	                    }
	                },
					save: function() {
						var _this = this;
						if (!_this.item4Add.name || _this.item4Add.hp == 0) {
							myzui._error("必填参数不能为空");
							return;
						}
						var url = "heros";
						if (_this.item4Add.id == 0) { //add
							axios.post(url, this.item4Add).then(function(res) {
								if (res.data.code == 0) {
									myzui._success("新增成功");
									_this.list(1);
									_this.item4Add = {id: 0, name: "", hp: 0};
									_this.isEditShow = false;
								} else {
									myzui._error("新增失败");
								}
							});
						} else { //update
							axios.put(url, _this.item4Add).then(function(res) {
								if (res.data.code == 0) {
									myzui._success("修改成功");
									_this.list(1);
									_this.item4Add = {id: 0, name: "", hp: 0};
									_this.isEditShow = false;
								} else {
									myzui._error("修改失败");
								}
							});
						}
					},
					cancel: function() {
						this.isEditShow = false;
					},
					addItem: function() {
						this.isEditShow = true;
						this.editTitle = "新增";
						this.item4Add = {id: 0, name: '', hp: 0};
					},
					updateItem: function(hero) {
						this.isEditShow = true;
						this.editTitle = "修改";
						this.item4Add.id = hero.id;
						this.item4Add.name = hero.name;
						this.item4Add.hp = hero.hp;
					},
					list: function(start) {
						var _this = this;
						_this.isLoading = true;
						var url = "heros?start=" + start + "&keyword=" + _this.keyword + "&size=" + _this.size;
						axios.get(url).then(function(res) {
							_this.pagination = res.data;
							_this.items = res.data.list;
							_this.isLoading = false;
						});
					},
					deleteItem: function(id) {
						var _this = this;
						myzui.confirm("确认删除？", function() {
							var url = "heros/" + id;
							axios.delete(url).then(function(res) {
								if (res.data.code == 0) {
									myzui._success("删除成功");
									_this.list(1);
								} else {
									myzui._error("删除失败");
								}
							});
						});
					},
					reset: function() {
						var _this = this;
						$("#keyword").val("");
						_this.keyword = $("#keyword").val();
						_this.list(1);
					},
					search: function() {
						var _this = this;
						_this.keyword = $("#keyword").val();
						if (_this.keyword) {
							_this.list(1);
						}
					},
					excelUpload: function() {
						var _this = this;
						$.uploader("../uploadExcelHero", function(res) {
							if (res == "success") {
								myzui._success("数据导入成功");
								_this.list(1);
							} else {
								myzui._error(res);
							}
						}, {
							filters: {
								mime_types: [
									{title: 'Excel文件', extensions: 'xls,xlsx'}
								]
							},
							limitFilesCount: 1
						}, true);
					},
					excelDownload: function() {
						var heroIds = $("tbody .checked .checked-span").map(function(item, el) {
							return $(el).html();
						}).get().join(",");
						if (!heroIds) {
							myzui._error("请选择需要导出的数据行");
							return;
						}
						axios.post("downloadExcelHero", {heroIds: heroIds}).then(function(res) {
							if (res.data.code == 1) {
								myzui._error(res.data.msg);
								return;
							}
							myzui._success(res.data.data);
						});
					}
				}
			});
		});
	</script>
</head>
<body>
	<div id="app">
		<div class="col-sm-12 content table-content load-indicator" :class="isLoading?'loading':''" data-loading="正在加载">
			<div class="panel">
				<div class="panel-heading">
					<!-- top start -->
					<div id="top-div">
						<!-- search start -->
						<div class="input-group search-div">
							<input type="text" class="form-control" id="keyword" placeholder="请输入关键词">
							<span class="input-group-btn">
								<button class="btn btn-primary" @click="search">搜索</button>
								<button class="btn btn-default" @click="reset">重置</button>
								<button class="btn btn-success" @click="addItem" :class="{'m-hide':btnPermissions.indexOf('addHero') == -1}">新增</button>
								<button class="btn btn-primary" @click="excelUpload" :class="{'m-hide':btnPermissions.indexOf('importHero') == -1}">导入Excel</button>
								<button class="btn btn-success" @click="excelDownload" :class="{'m-hide':btnPermissions.indexOf('exportHero') == -1}">导出Excel</button>
							</span>
						</div>
						<!-- search end -->
					</div>
					<!-- top end -->
				</div>
				<div class="panel-body">
					<div style="height:100%;overflow:auto;">
						<table class="table table-hover " style="margin:0px;">
							<thead>
								<tr>
									<th style="width:16px;">
										<div @click="checkboxAll" class="checkbox-primary checkbox-parent"><label></label></div>
									</th>
									<th>编号</th>
									<th>名称</th>
									<th>血量</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr v-if="items && items.length > 0" v-for="item in items">
									<td style="width:16px;">
										<div @click="checkbox" class="checkbox-primary checkbox-children">
											<span class="checked-span" hidden>{{item.id}}</span>
		                                    <label></label>
		                                </div>
									</td>
									<td>{{item.id}}</td>
									<td>{{item.name}}</td>
									<td>{{item.hp}}</td>
									<td>
										<button class="btn btn-xs btn-primary" @click="updateItem(item)" :class="{'m-hide':btnPermissions.indexOf('updateHero') == -1}">
											<i class="icon icon-pencil"></i>编辑
										</button>
										<button class="btn btn-xs btn-danger" @click="deleteItem(item.id)" :class="{'m-hide':btnPermissions.indexOf('deleteHero') == -1}">
											<i class="icon icon-trash"></i>删除
										</button>
									</td>
								</tr>
								<tr v-if="items && items.length == 0">
		                            <td colspan="20" align="center" style="text-align: center;">暂无数据</td>
		                        </tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel-footer">
					<!-- page start -->
					<component-pager v-bind.sync="pagination" v-on:list="list"></component-pager>
					<!-- page end -->
				</div>
			</div>
		</div>
		
		<!-- edit start -->
		<div class="edit-panel-div" :class="isEditShow?'active':''">
			<div class="edit-panel-div-title">
				{{editTitle}}
				<i class="icon icon-times" @click="cancel"></i>
			</div>
			<div class="edit-panel-div-content form-horizontal">
				<div class="form-group">
					<label for="name" class="col-sm-3 required">名称</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="item4Add.name" id="name" placeholder="名称" />
					</div>
				</div>
				<div class="form-group">
					<label for="hp" class="col-sm-3 required">血量</label>
					<div class="col-sm-9">
						<input class="form-control" type="number" v-model="item4Add.hp" id="hp" placeholder="血量" />
					</div>
				</div>
			</div>
			<div class="edit-panel-div-footer">
				<button class="btn btn-success" @click="save">保存</button>
				<button class="btn btn-default" @click="cancel">取消</button>
			</div>
		</div>
		<div class="edit-panel-div-shim" @click="cancel" :class="isEditShow?'active':''"></div>
		<!-- edit end -->
	</div>
</body>
</html>