<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="include::include"></div>
	<script src="./static/js/common/component-pager.js"></script>
	<link href="./static/css/bootstrapStyle/bootstrapStyle.css" rel="stylesheet" />
	<script src="./static/js/common/jquery.ztree.all.js"></script>
	<link href="./static/css/role/role.css" rel="stylesheet" />
	<script src="./static/js/role/role.js"></script>
</head>
<body>
	<div id="app">
		<div class="col-md-10 content table-content load-indicator" :class="isLoading?'loading':''" data-loading="正在加载">
			<div class="panel">
				<div class="panel-heading">
					<!-- top start -->
					<div id="top-div">
						<!-- search start -->
						<div class="input-group search-div">
							<input type="text" class="form-control" id="keyword" placeholder="请输入关键词">
							<span class="input-group-btn">
								<button class="btn btn-primary" @click="search">搜索</button>
								<button class="btn btn-default" @click="reset">重置</button>
								<button class="btn btn-success" @click="addEdit">新增</button>
								<button class="btn btn-danger" @click="getCheck">获取选中行</button>
							</span>
						</div>
						<!-- search end -->
					</div>
					<!-- top end -->
				</div>
				<div class="panel-body">
					<!-- table start -->
					<div style="height:38px;">
						<table class="table table-hover table-striped" style="margin:0px;">
							<thead>
								<th><div @click="checkboxAll" class="checkbox-primary checkbox-parent" style="width:16px;"><label></label></div></th>
								<th width="56">编号</th>
								<th width="301">名称</th>
								<th width="301">描述</th>
								<th width="840">关联权限</th>
								<th width="170">操作</th>
							</thead>
						</table>
					</div>
					<div style="height:calc(100% - 38px);overflow:auto;">
						<table class="table table-hover table-striped">
							<tbody>
								<tr v-for="role in roles">
									<td><div @click="checkbox" class="checkbox-primary checkbox-children" style="width:16px;" :data-id="role.id"><label></label></div></td>
									<td width="56">{{role.id}}</td>
									<td width="301">{{role.name}}</td>
									<td width="301">{{role.desc}}</td>
									<td width="840"><template v-for="permission in role.permissions">{{permission.name}},</template></td>
									<td width="170">
										<button class="btn btn-xs btn-primary" @click="updateEdit(role)"><i class="icon icon-pencil"></i></button>
										<button class="btn btn-xs btn-danger" @click="deleteRole(role.id)"><i class="icon icon-trash"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- table end -->
				</div>
				<div class="panel-footer">
					<!-- page start -->
					<component-pager v-bind.sync="pagination" v-on:list="list"></component-pager>
					<!-- page end -->
				</div>
			</div>
		</div>
		
		<div class="col-md-2 content">
			<div class="panel">
				<div class="panel-heading" style="text-align:left;">
					<button class="btn btn-success" @click="saveBatch">批量分配权限</button>
				</div>
				<div class="panel-body" style="height:calc(100% - 49px);">
					<span>关联权限</span>
					<!-- ztree batch start -->
					<ul id="treeBatch" class="ztree"></ul>
					<!-- ztree batch end -->
				</div>
			</div>
		</div>
		
		<!-- edit start -->
		<div class="edit-panel-div" :class="isEditShow?'active':''">
			<div class="edit-panel-div-title">
				{{editTitle}}
				<i class="icon icon-times" @click="cancel"></i>
			</div>
			<div class="edit-panel-div-content form-horizontal">
				<div class="form-group">
					<label for="name" class="col-sm-3 required">名称</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="role4Add.name" id="name" placeholder="名称" />
					</div>
				</div>
				<div class="form-group">
					<label for="desc" class="col-sm-3 required">描述</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="role4Add.desc" id="desc" placeholder="描述" />
					</div>
				</div>
				
				<span>关联权限</span>
				<!-- ztree start -->
				<ul id="tree" class="ztree"></ul>
				<!-- ztree end -->
			</div>
			<div class="edit-panel-div-footer">
				<button class="btn btn-success" @click="save">保存</button>
				<button class="btn btn-default" @click="cancel">取消</button>
			</div>
		</div>
		<div class="edit-panel-div-shim" @click="cancel" :class="isEditShow?'active':''"></div>
		<!-- edit end -->
	</div>
</body>
</html>